* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

.container {
    background-image: url('../img/1.png');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#bgVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.block1 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    position: absolute;
}

.block2 {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    border: none;
    position: absolute;
}

.img {
    text-align: center;
    margin-top: 5%;
}

.img2 {
    text-align: center;
    margin-top: 5%;
    position: absolute;
    top: 90%;
    left: 45%;
    right: 55%;
    bottom: 0;
    text-align: center;
    margin: 0 auto;
}

ul {
    display: block;
    float: left;
    position: absolute;
}